* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: rgb(14, 13, 13);
    font-size: 32px;
    color: rgb(29, 202, 86);
    min-width: 200px;
    font-family: sans-serif;
}

h1 {
    font-family: 'Kanit', sans-serif;
}

.photo {
    min-height: 35vh;
    background-position: center;
    background-repeat: no-repeat;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header {
    min-height: 35vh;
    background-image: url(../img/photo-on-site/code.jpg);
    border-bottom: 0.5vh black solid;
    background-position: center;
    margin: 0 auto;
}

header .navbar {
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar button {
    background-color: black;
    padding: 25px 60px;
    margin: 0 1.5vw;
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    box-shadow: 5px 3px 3px rgb(48, 48, 48);
    border: 1px solid rgb(230, 1, 77);
    transition: all .3s linear;
    cursor: pointer;
}

.navbar button:hover {
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    transform: scale(1.1);

}

.navbar button a {
    display: block;
    font-size: 22px;
    text-decoration: none;
    color: rgb(230, 1, 77);
    padding: 0.5rem;
    text-transform: uppercase;
}

.navbar button:hover a {
    color: rgb(29, 202, 86);

}

.content {
    padding-bottom: 24px;
    margin: 0 1.5vw;
}

main #offer {
    min-height: 85vh;
    border-bottom: 0.5vh solid black;

}

main #photoOffer {
    background-image: url(../img/photo-on-site/offer.jpg);
}

main #aboutMe {
    min-height: 55vh;
    border-bottom: 0.5vh solid black;
}

main #price {
    min-height: 85vh;
    border-bottom: 0.5vh solid black;

}

main #photoPrice {
    background-image: url(../img/photo-on-site/price.jpg);
}

main ul li {
    list-style: none;
}

footer {
    background-color: rgb(10, 9, 9);
}

footer #contact {
    min-height: 55vh;
}

footer .social {
    margin: 2vw auto;
}

footer .social a {
    display: block;
    float: left;
    margin: 0 auto;
    width: 25%;
    text-align: center;
}

footer .social img {
    max-width: 120px;
}

footer .social img:hover {
    animation: rotate360 .5s;
}

@keyframes rotate360 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1200px) {

    .navbar button {
        padding: 15px 30px;
    }
}

@media (max-width: 900px) {

    body {
        font-size: 24px;
    }

    .navbar button a {
        font-size: 18px;
    }
}

@media (max-width: 750px) {

    header .navbar {
        display: block;
        margin: 0 10vw;
    }

    .navbar button {
        width: 100%;
        margin: 5vw auto;
    }

    @media (max-width: 550px) {
        footer .social a {
            width: 50%;
            margin: 2vw 0;
        }

        .content {
            margin: 0 3vw;
        }
    }
}