* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: rgb(14, 13, 13);
    font-size: 3.1vh;
    color: rgb(29, 202, 86);
    min-width: 200px;
    font-family: sans-serif;
}

h1 {
    font-family: 'Kanit', sans-serif;
}

.photo {
    min-height: 35vh;
    background-position: center;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header {
    height: 35vh;
    background-image: url(../img/photo-on-side/code.jpg);
    border-bottom: 0.5vh black solid;
    background-position: center;
    margin: 0 auto;
}

header .navbar {
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar button {
    background-color: black;
    padding: 2.5rem;
    margin: 0 1.5vw;
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    box-shadow: 5px 3px 3px rgb(48, 48, 48);
    border: 1px solid rgb(230, 1, 77);
    transition: all .3s linear;
    cursor: pointer;
}

.navbar button:hover {
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    transform: scale(1.1);

}

.navbar button a {
    font-size: 2rem;
    text-decoration: none;
    color: rgb(230, 1, 77);
    padding: 0.5rem;
    text-transform: uppercase;
}

.navbar button:hover a {
    color: rgb(29, 202, 86);

}


main #offer ul li {
    list-style: none;
}

main #offer {
    min-height: 85vh;
    border-bottom: 0.5vh solid black;

}

main #photoOffer {
    background-image: url(../img/photo-on-side/offer.jpg);
}

main #aboutMe {
    min-height: 55vh;
    border-bottom: 0.5vh solid black;
}

main #price {
    min-height: 85vh;
    border-bottom: 0.5vh solid black;

}

main #photoPrice {
    background-image: url(../img/photo-on-side/price.jpg);
}

footer {
    background-color: rgb(10, 9, 9);
}


footer #contact {
    min-height: 55vh;

}

footer .social {
    margin: 2vw auto;
}

footer .social a {
    display: block;
    float: left;
    margin: 0 5vw;
}

footer .social img {
    max-width: 120px;
}

footer .social img:hover {
    animation: rotate360 .5s;
}



@keyframes rotate360 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1200px) {

    .navbar button {
        min-width: 165px;
        padding: 1rem;
        transition: 0.3s;
    }

}

@media (max-width: 900px) {

    body {
        font-size: 3.3vw;
    }

    .navbar {
        clear: both;
        display: block;
        align-items: center;
    }

    .navbar button {
        margin: 0.4em 0;
        width: 100%;
    }

    .social {
        width: 15%;
        height: 15%;
        margin: 0 5rem;
    }

    .goUp {
        display: none;
    }
}

@media only screen and (max-width: 300px) {
    .social {
        display: none;
    }
}