* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(14, 13, 13);
    font-size: 3.1vh;
    color: rgb(29, 202, 86);
    min-width: 200px;
    font-family: sans-serif;

}

header {
    height: 35vh;
    background-image: url(../img/photo-on-side/code.jpg);
    border-bottom: 0.5vh black solid;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

footer {
    height: 10vh;
    background-color: rgb(10, 9, 9);
}

h1 {
    font-family: 'Kanit', sans-serif;
}

.menu {
    margin: 6vh 0;
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu button {
    background-color: black;
    border: none;
    padding: 2.5rem;
    cursor: pointer;
    margin: 0 1.5vw;
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    box-shadow: 5px 3px 3px rgb(48, 48, 48);
    transition: all .3s ease-in-out;
}

.menu button:hover {
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    transform: scale(1.1);

}

.menu button a {
    font-size: 2rem;
    text-decoration: none;
    color: rgb(230, 1, 77);
    padding: 0.5rem;
    text-transform: uppercase;
}

.menu button:hover a {
    color: rgb(29, 202, 86);;
}

.content {
    border-top: 0.5vh solid black;
    border-bottom: 0.5vh solid black;
}

.text {
    padding: 1rem;
    text-decoration: none;
}

ul li {
    list-style: none;
}

.photo {
    min-height: 35vh;
    background-position: center;
}

.goUp {
    display: flex;
    justify-content: end;
    position: relative;
    vertical-align: bottom;
    padding: 0.5rem;

}

.goUp img:hover {
    transform: scale(1.1);
}

.conMedia div{
    float: left;
    margin: 1em 1em;
}

.conMedia div img {
    width: 100%;
}

.conMedia div img:hover {
    animation: rotate360 6s;
}

.mediaP {
    width: 10rem;
    height: 10rem;
    margin: 0 5rem;
}

#offer {
    min-height: 85vh;
    border-bottom: 0.5vh solid black;

}

#photoOffer {
    background-image: url(../img/photo-on-side/offer.jpg);
}

#price {
    min-height: 85vh;
    border-bottom: 0.5vh solid black;

}

#photoPrice {
    background-image: url(../img/photo-on-side/price.jpg);
}

#aboutMe {
    min-height: 55vh;
    border-bottom: 0.5vh solid black;
}

#contact {
    min-height: 55vh;

}

@keyframes rotate360 {
    0% {transform: rotate(0);}
    10% {transform: rotate(360deg);}
    100% {transform: rotate(360deg);}
}

@media only screen and (max-width: 900px) {

    body {
        font-size: 3.3vw;
    }

    .menu {
        clear: both;
        display: block;
        align-items: center;
    }

    .menu button {
        margin: 0.4em 0;
        width: 100%;
    }

    .mediaP {
        width: 15%;
        height: 15%;
        margin: 0 5rem;
    }

    .goUp {
        display: none;
    }
}

@media only screen and (max-width: 100px) {
    .mediaP {
        display: none;
    }
}
